body {
    background-color: #7E87E2;
    padding-top:24px;
}

h1 {
    font-family: 'Nixie One', cursive;
    color:#fff;
    margin: 16px 0 32px;
}

.menu {
    background-color: #393939;
    text-align: center;
}

.card {
    border: none;
}

.menu .btn {
    width: 80%;
    margin-bottom: 16px;
}