<h2>Add Employee</h2>
<form method="post" action="/employees_add_person">
  <label>ID</label>
  <input type="text" name='id'>
  <label>First Name</label>
  <input type="text" name='first_name'>
  <label>Business Title</label>
  <input type="text" name='business_title'>
  <label>Salary</label>
  <input type="text" name='salary'>

  <input type="submit">
</form>