


<br />
<div class="container">

	<div class="list-group">

		<% @movies.each_with_index  do |movie, index| %>
			<a href="/movies/<%= index.to_s %>" class="list-group-item list-group-item-action clearfix"> 
				<%= movie.movie_name %>
				<span style="float:right">
					<form action="/forms/movies/<%= index.to_s %>/delete" method="post">
						<button class="btn btn-xs btn-info" type="submit">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button>
					</form>
				</span>
				
			</a>			
		<% end %>
		
	</div>

	<br/>

	<form action="/forms/movies/new" method="post">
		<input type="text" name="movieName" placeholder="movie name">
		<button type="submit">Add</button>
	</form>
</div>



