* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: azure;
}

header {
    background-color: rgb(0, 2, 19);
    color: white;
    padding: 10px;
    height: 60px;
}

middle {
    flex-grow: 2;
    padding: 10px;
}

footer {
    padding: 10px;
}

div {
    margin: 50px auto;
    width: 800px;
    height: 400px;
    border: 3px rgb(30, 30, 30) solid;
    background-color: ivory;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


button {
    float: right;
    margin-right: 5px;
    border: rgb(30, 30, 30) 2px solid;
    background-color: grey;
    padding: 5px;
    color: white;
    border-radius: 2px;
    font-size: 1em;

}

button:hover {
    background-color: rgb(0, 2, 19);
}