#canvas{ 
    background-image: url("https://image.shutterstock.com/z/stock-photo-pixel-t-rex-on-outdoor-walking-raster-illustration-set-of-trees-and-bush-green-grass-white-cute-1421637986.jpg");
    background-color: #58F3AA;
    position:absolute;
    }