<h1>Mountains#edit</h1>
<p>Find me in app/views/mountains/edit.html.erb</p>

<form action="" method="post">
  <label for="">Name: </label>
  <input type="text" name="name">
  <label for="">Height (m): </label>
  <input type="number" name="height_metres">
  <label for="">Country: </label>
  <input type="text" name="country">
  <label for="">Year of first ascent: </label>
  <input type="number" name="firstAscent">
  <button class="submit">Submit</button>  
</form>
