body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

section {
    padding: 40px 0;
}

.nav {
    font-size: 16px;
}

.nav-item a{
    color: #B3B3B3;
}

.active a {
    color: #fff;
}

#header {
    display: block;
    background-color: #151515;
}
#header h1{
    margin-top: 80px;
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: #CC342D;
    text-align: center;
}
#header p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 10px;
    text-align: center;
}

#intro h2{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    padding: 0 30px;
    line-height: 1.5;
    color: #151515;
    text-align: center;
}
#video {
    text-align: center;
}

#video p{
    padding-top:8px;
}

#quote {
    padding: 60px 0;
    display: block;
    background: url(img/bg.png) repeat;
}

#quote h2{
    font-family: 'Cabin', sans-serif;
    font-size: 36px;
    color: #CC342D;
    text-align: center;
    text-shadow: 0 -1px 1px #E2E2DC;
    line-height: 1.6;
}

#books p{
    padding: 20px 0;
}

.book {
    box-shadow: 2px 15px 17px 0 rgba(0,0,0,0.20);
    transition: transform .3s;
}

.book:hover {
    transform: scale(1.05);
}

.container hr{
    padding-bottom: 20px;
}

footer{
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 16px;
    text-align: center;
    color: #888;
    font-size: 16px;
}

footer a{
    color: #151515;
}

footer a:hover{
    color: #000;
}