<h1>New Planet</h1>

<form action="<%= planets_path %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" required>
  <label>Image:</label>
  <input type="url" name="image">
  <label>Orbit:</label>
  <input type="number" name="orbit">
  <label>Diameter:</label>
  <input type="number" name="diameter">
  <label>Mass:</label>
  <input type="number" name="mass">
  <label>Moons:</label>
  <input type="number" name="moons">

  <button>Create planet</button>
</form>
