<ul>
    <% @movies.each_with_index  do |movie, index| %>    
        <li> 
            <%= movie %>
            <form action="/forms/movies/<%= index.to_s %>/delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>    
    <% end %>
</ul>


<form action="/forms/movies/new" method="post">
    <input type="text" name="movieName" placeholder="movie name">
    <button type="submit">Add</button>
</form>

