
* {
  margin: 0;
}
body {
  background: #ECEFF1;
  font-family:Arial, Helvetica, sans-serif;
}

h2 {
  color:orange;
  font-size: 16px;
}

.card {
  display:block;
  background :#fff;
  padding: 24px;
  margin: 80px auto;
  text-align:center;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.leftBtn, .rightBtn {
  cursor: pointer;
}

.big-number {
  font-size:60px;
  padding: 8px;
}

.flip-button{
  width:90%;
  margin: 0 auto;
  padding: 20px;
  border-radius:4px;
  display:block;
  background-color: #21AADF;
  color: #fff;
  cursor: pointer;
}
.flip-button:hover{
  background-color: #37b2e2;
}

.result{
  width:90%;
  padding: 19px;
  text-align: left;
  font-size: 30px;
  border: 1px solid #ECEFF1;
  display: block;
}

.row {
  display:block;
  margin: 10px 0;
}

.row > div {
  width: 30%;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  body{
      background: #fff;
      border-top: orange solid 16px;
  }
  .card{
      margin-top:40px;
      box-shadow: none;
  }
}

.show-history {
  margin-top: 24px;
  padding: 4px 0;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  color: #666;
}

.show-history:hover{
color: #000;
}

#history-list > div {
padding: 8px 0;
color: #666;
}

#history-pane{
display: none;
max-height: 200px;
overflow-y: scroll;
}
