/*font-family: 'Varela Round', sans-serif;*/

body{
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background-color: lightgrey;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    position: relative;
}

#canvas{
    
    background-color: white;
    width: 300px;
    height: 500px;
    border: solid grey 1px;
    position: absolute;
    left: -10vw;
    top: 10vh;
    border-radius: 10px;
}

h1{
    color: orange;
    font-size: 20px;
    margin-top: 50px;
    
}

.flipper{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    color: black;
    text-align: center;
}

table{
    margin: 0 auto;
    width: 250px;
    padding: 0;
    text-align: left;
}

tr{
    height: 50px;
    margin: -10;
    outline: solid 1px lightgrey;
    font-size: 20px;
    
}

th{
    background-color: blue; 
    color: white;
    width: 250px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}

td{
    padding-left: 10px;
    margin: 0,
}